.flatpak-builder/
.build-dir/
.vscode
deps/boost_1_90_0.tar.gz
collect-binaries/liblux.so
collect-binaries/luxcomp
collect-binaries/luxconsole
collect-binaries/luxmerger
collect-binaries/luxrender
collect-binaries/pylux.so
