[submodule "LuxRays"]
	path = LuxRays
	url = https://github.com/rrubberr/Flatpak-LuxRays.git
	branch = FeatureRemoval
[submodule "Lux"]
	path = Lux
	url = https://github.com/rrubberr/Flatpak-Lux.git
	branch = FeatureRemoval
