[submodule "ext/zlib-ng"]
	path = ext/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "ext/robin-map"]
	path = ext/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
