[submodule "ext/zlib-ng"]
	path = ext/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "ext/robin-map"]
	path = ext/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/pystring"]
	path = ext/pystring
	url = https://github.com/imageworks/pystring.git
[submodule "ext/minizip-ng"]
	path = ext/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "ext/libpng"]
	path = ext/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "ext/OpenJPH"]
	path = ext/OpenJPH
	url = https://github.com/aous72/OpenJPH.git
[submodule "ext/libjpeg-turbo"]
	path = ext/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
