.flatpak-builder/
.build-dir/
.vscode
deps/boost_1_90_0.tar.gz
gather-binaries/liblux.so
gather-binaries/luxcomp
gather-binaries/luxconsole
gather-binaries/luxmerger
gather-binaries/luxrender
gather-binaries/pylux.so
